{% extends "base.html" %}

{% block content %}
<h2 class="i-e-heading">Setup your Individual Employer Profile </h2>
<div class="i-e-container">
    <h2 class="i-e-title">Employer Profile Setup</h2>
    

    <form method="post" enctype="multipart/form-data" class="i-e-form">
        {% csrf_token %}
        <div class="i-e-form-group">
            <label for="id_first_name" class="i-e-label">First Name:</label>
            <input type="text" id="id_first_name" name="first_name" value="{{ form.first_name.value }}" class="i-e-input">
        </div>
        <div class="i-e-form-group">
            <label for="id_last_name" class="i-e-label">Last Name:</label>
            <input type="text" id="id_last_name" name="last_name" value="{{ form.last_name.value }}" class="i-e-input">
        </div>
        <div class="i-e-form-group">
            <label for="id_email" class="i-e-label">Email:</label>
            <input type="email" id="id_email" name="email" value="{{ form.email.value }}" class="i-e-input" required>
        </div>
        <div class="i-e-form-group">
            <label for="id_phone" class="i-e-label">Phone:</label>
            <input type="text" id="id_phone" name="phone" value="{{ form.phone.value }}" class="i-e-input">
        </div>
        <div class="i-e-form-group">
            <label for="id_profile_photo" class="i-e-label">Profile Photo:</label>
            <input type="file" id="id_profile_photo" name="profile_photo" class="i-e-file-input">
        </div>
        <div class="i-e-form-group">
            <label for="id_location" class="i-e-label">Location:</label>
            <input type="text" id="id_location" name="location" value="{{ form.location.value }}" class="i-e-input">
        </div>
        <button type="submit" class="i-e-btn">Save</button>
    </form>
</div>
{% endblock content %}
