<footer>
    <div class="footer-container">
        <p>&copy; 2024 Worklink HR Consultancy Job Seeker Website. All rights reserved.</p>
            <nav>
                <ul class="nav-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        <!-- Add social media links, sitemap, or other footer content -->
    </div>
</footer>